h1 Get in touch
p 
  |Want to get involved with nuWiT? Are you interested in giving a talk or 
  |helping us coordinate an event? We'd love to hear from you! Unfortunately
  |we can't assist with company recruiting events or information sessions.

h3 
  a(href="mailto:nuwit@ccs.neu.edu")
    i.fa.fa-fw.fa-paper-plane
    |  nuwit-officers@ccs.neu.edu

h3 
  a(href="https://twitter.com/nuWomenInTech")
    i.fa.fa-fw.fa-twitter
    |  @nuWomenInTech

h3 
  a(href="https://www.facebook.com/groups/nucisters/")
    i.fa.fa-fw.fa-facebook-square
    |  NU WiT
