h1 Get in touch
p 

h2 
  a(href="mailto:nuwit@ccs.neu.edu")
    i.fa.fa-fw.fa-paper-plane
    |  nuwit-officers@ccs.neu.edu

h2 
  a(href="https://twitter.com/nuWomenInTech")
    i.fa.fa-fw.fa-twitter
    |  @nuWomenInTech

h2 
  a(href="https://www.facebook.com/groups/nucisters/")
    i.fa.fa-fw.fa-facebook-square
    |  NU WiT
