h1 Mission
p
  |nuWiT is a student group at Northeastern University created with the intention
  |of supporting and connecting females who are studying or interested in the
  |fields of computer and information science.

include /_contact.jade